<div class="content callout">
    <h1>Prince Edward Island’s Third Weather Trivia Calendar -</h1>
    <h2>Bringing Island Stories to Life as Told by the Weather</h2>
    <div class="grid-x grid-padding-x">
        
        <div class="cell small-6">
            <img class="thumbnail cover" src="{{root}}/assets/img/2017_cover.jpg" alt="">

            <h2>Did You Know?</h2>
            <ul><li>Unable to land at Charlottetown Airport due to thick fog in 1943, an RCAF bomber dropped depth charges (bombs) on Mount Edward Road to save fuel.</li>
                <li>Earl Jay’s pigs were swimming down the street in Mount Stewart after the Kennedy Inaugural Storm of 1961 flooded their barn.</li>
                <li>PEI was deprived of a Harvard-trained doctor who died of exhaustion and exposure when caught in a snowstorm for days taking the ice boats across the Northumberland Strait in 1855.</li>
                <li>Stormy Michael David Kennedy was born in Freetown in 1992 during a severe snowstorm that required a trip to the hospital behind snow plows.</li>
                <li>A tornado in the Albany area in 1935 sent a 12-year-old boy airborne while holding three chickens. The boy landed safely still holding his three chickens.</li>
                <li>The worst railway accident on PEI, which killed four men, occurred during a heavy snowstorm in 1932 when Train #33 ran into Train #211 which was stalled in a four metre snow pile at Handrahan’s Cutting near Tignish.</li>
            </ul>  
        </div>
        <div class="cell small-6">

            <p>PEI history comes to life in this third edition of PEI’s weather trivia calendar of all new 365 stories about Prince Edward Island weather and its impact on Islanders’ everyday life. This calendar brings stories from North Cape to East Point, West Point to Murray Head – and all points in-between over the past 250 years. A great gift for any Islander, and any occasion – birthdays, Christmas or even Islander Day!</p>
            <blockquote>
                “Because of the nature of the Island, the way that we live, we’re very affected by it; sometimes it keeps us at home or away from school and sometimes it drags us to the beaches because it’s so nice,” Fenech says. “But the weather really controls a lot of what we do and who we are. We say in our calendar ‘Our weather is our story.’ It’s the stories around the weather that are so intriguing.”
            </blockquote>
            <blockquote>
            “Because of the nature of the Island, the way that we live, we’re very affected by it; sometimes it keeps us at home or away from school and sometimes it drags us to the beaches because it’s so nice,” Fenech says. “But the weather really controls a lot of what we do and who we are. We say in our calendar ‘Our weather is our story.’ It’s the stories around the weather that are so intriguing.”
            </blockquote>
            <p>
            Co-authored by Don Jardine and Dr. Adam Fenech and published by the Climate Research Lab at UPEI, this 3rd edition of the weather trivia calendar is filled with 365 new stories about real local weather events from across the Island over the past 250 years and their impact on Islanders’ everyday lives.
            </p>
            <p>		There’s nothing like the weather as a conversation starter. The 2017 Prince Edward Island weather trivia calendar, Some Weather We’re Having!, will help that dialogue.
            </p>
            <h2>Availability</h2>
            <p>
            The third annual PEI Weather Trivia Calendar is available now and can be ordered on-line or purchased directly at the following outlets: The Bookmark, UPEI Bookstore, All Murphy’s Pharmacies, Coopers Red &amp; White Store, Eldon,  Clows Red &amp; White Store, Hampshire, Tignish Co-op, Alberton Irving, O’Leary Kwik Way, Stewart And Beck Home Hardware, Montague, Elliott’s General Store, Bothwell. The cost is $17.39 + hst = $20.00. Additional postage charges will apply for on-line purchases.
            </p>
            <p><a href="http://upei.bookware3000.ca/Catalogue/clothing-and-giftware/upei-calendar" class="off-site_button"> Purchase Now</a></p>


        </div>
        
    </div>
    <div class="grid-x grid-padding-x">
        <img style="width:100%;" "class="thumbnail" src="{{root}}/assets/img/2017_back_cover.jpg"}}" alt="">
    </div>
</div>
