<div class="main-menu top-bar">
    <div class="top-bar-left">
        <ul class="button-group menu align-left">
            <li><a class="button" href="http://upei.bookware3000.ca/Catalogue/clothing-and-giftware/upei-calendar">Buy the Calendar</a></li>
        </ul>
    </div>
    <div class="top-bar-right">

        <ul class="button-group menu align-right">
            <li><a class="button" href="http://projects.upei.ca/climate/about-us/">Contact Us</a></li>
            <li><a class="button" href="http://projects.upei.ca/climate/">About the UPEI Climate Lab</a></li>
        </ul>
    </div>
</div>
